 body{
    background-image: url(/img/0af6ce3e-b27a-4722-a5f0-e32af4df3045_what_is_netflix_5_en.png);
    background-repeat: no-repeat;
    background-size: cover;
    font-family: sans-serif;
} 
body{
    margin: 0%;
    background-color: black;
}
.main-header .header .sub-header img{
    height: 100%;
    /* width: 100%; */

}
 .header #logo {
    position: absolute;
    height: 150px;
    width: 180px;
    /* margin-top: 10px; */
    margin-left: 80px;
}
.main-header .sub-header{
    background-color: rgba(0, 0, 0, 0.733);
    width: 400px;
    height: 650px;
    margin-left: 35%;
    margin-top: 100px;
    color: azure;
    text-align: center;
    font-size: 20px;
    border-radius: 20px;
}
.main-header .sub-header input{
    background-color: rgba(88, 92, 71, 0.437);
    width: 300px;
    height: 30px;
    border-radius: 5px;
}
.main-header .sub-header  #check{
    /* height: 20px; */
    width: 20px;
    
    
}
.main-header .sub-header #h1{
    margin-left: 0% !important;
    
}
.main-header .sub-header #signin{
    background-color: red;
    font-size: 20px;
    color: white;
}
.main-header .sub-header .place{
    font-size: 20px;
    color: aliceblue;
    

}
.footer .sub-footer h3{
    text-align: center;
    color: azure;
}
a{
    text-decoration: none;
    color: red;
}
a:hover{
    color: rgb(255, 149, 0);
}
